body {
    color: #333;
    height: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #5d53c6;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 200%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #5d53c6;
}
p {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #5d53c6;
    font-size: .8em;
    padding: 10px 0 0 0;
}
header {
    border-top: 3px solid #5d53c6;
    padding: 30px 0 5px 0;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.wrap {
    max-width: 560px;
    padding: 0 20px;
    margin: 0 auto;
    zoom: 1;
}

.content {
    padding-bottom: 30px;
}

.img {
    border: 1px solid #ccc;
    float: center;
    width: 560px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}

.imgportrait {
    margin: auto;
    border: 1px solid #ccc;
    float: center;
    width: 250px;
}

.imgportrait:hover {
    border: 1px solid #777;
}

.imgportrait img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
